@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--page-color: #545454;
	--area-color: #474747;
}

html {
	font-family: Roboto, 'sans-serif';
}

html,
body,
#app {
	height: 100%;
}

#app {
	display: flex;
	flex-direction: column;
	background-color: var(--page-color);
}

html > header,
html > footer {
	background-color: var(--area-color);
}

html > header {
	min-height: 2rem;
}

html > footer {
	min-height: 4rem;
}

main {
	flex-grow: 1;
}
