:root {
	--page-color: #545454;
	--area-color: #474747;
}

html,
body,
#app {
	height: 100%;
}

#app {
	display: flex;
	flex-direction: column;
	background-color: var(--page-color);
}

header,
footer {
	background-color: var(--area-color);
}

header {
	min-height: 2rem;
}

main {
	flex-grow: 1;
}

footer {
	min-height: 4rem;
}


